@import "./normalize.css";

body {
  background-color: #fdfdfd;
  font-family: 'Roboto', sans-serif;
  color: #222;
}

.app_wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media (max-width: 800px) {
  .app_wrapper {
    width: 95%;
  }
}

.app_content {
  flex: 1;
}

footer {
  text-align: center;
  margin: 2rem auto 1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_github {
  margin: auto 0.5rem auto 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_github_img {
  width: 24px;
}

header {
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.lead {
  font-size: 1.2rem;
}

main {
  margin-top: 2rem;
}

.note {
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  margin: 1rem auto 0 auto;
  padding: 1rem;
  white-space: pre;
}

.note_timestamp {
  color: #999;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.not_found {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.not_found_small {
  font-size: 1rem;
  margin-top: 1rem;
}

.not_found_small > a {
  display: block;
}
